@import 'bulma/css/bulma.css';
 *{
  margin: 0;
  padding:0;
  
 }



#logo{
    height: 30px;
    width: auto;
    
}
#title1{
    color: #00d1b2;
}

#navbar{
  box-shadow: 2px 3px 15px lightgray;
}
#pl{
    border-radius: 10px;
    margin-top:  3rem;;
    width: 60%;
    padding: 20px;
    box-shadow: 2px 3px 15px rgb(160, 158, 158);
  padding: 40px
}
#logintitle{
    height: 40px;
}
#heading{
    font-size: 50px;
    font-weight: bolder;
}
#pa{
  font-size: larger;
}

#footer{
  background-color:#00d1b2;
  color: white;
  margin-top: 20px;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px;
  box-shadow: 2px 3px 15px  rgb(128 119 119);
}
#breadcrumb{
  display: flex;
  justify-content: center;
  color: black;
}
#aboutHeading{
  text-align: left;
}
#drop{
  background-color: #00d1b2;
  box-shadow: 2px 3px 15px rgb(160, 158, 158);
  border-radius: 8px;
}
body{
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
  margin: 20px;
}
#header2{
  background-color: #f0f0f0;
}

#header1 {
  text-align: center;
  padding: 20px;
  box-shadow: 2px 3px 15px rgb(160, 158, 158);
  background-color: #00d1b2;
}


section {
  max-width: 800px;
  margin: 0 auto;
}

.info-box {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}


p {
  margin-bottom: 10px;
}

footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #f0f0f0;
}
#container {
  background-color: #fff;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#user-account,
#resume-creation,
#privacy,
#termination,
#intellectual-property,
#changes-to-terms {
  margin-bottom: 20px;
}

a {
  color:#00d1b2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#contact {
  text-align: center;
  margin-top: 20px;
  color: #888;
}
#resumeSVG{
  width: 400px;
}
#Svgg{
  display: flex;
  background-color: #f0f0f0;
  align-items: center;
  gap: 40px;
  padding: 30px;
}
#slogun{
  font-weight:bolder;
  font-size: 30px;
  padding: 20px;
}
#slogun::after{
  font: size 30px;
  color: #00d1b2;
  content:' ”';
}
#slogun::before{
  font: size 30px;
  color: #00d1b2;
  content:'“';
}
#img{
  height: 30px;
  width: auto;
}
